@mixin center($margin: auto, $right: 0, $left: 0) {
  margin: $margin;
  right: $right;
  left: $left;
}

$color-1: #D6EAF8;
$color-2: #2E86C1;
$color-3: #fff;

.container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: $color-2;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    width: 512px;
    height: 512px;
    background-color: $color-1;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1em;

    .form__title {
      font-size: 2em;
      font-weight: bold;
      color: $color-2;
    }

    .form__button {
      padding: 8px 24px;
      background-color: $color-2;
      color: $color-3;
      font-size: 1.1em;
      font-weight: bold;
      outline: none;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

.--input {
  width: 290px;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 1.2em;
  outline: none;
  border: 1px solid $color-2;
  border-radius: 6px;
  color: $color-2;
  background-color: inherit;
}

.--input::placeholder {
  color: $color-2;
  opacity: 0.6;
}
