$color-1: #191919;
$color-2: #2E86C1;
$color-3: #fff;

// TODO: resolver problema do dashboard__greetings!

.dashboard {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-1;
  color: #fff;
  display: flex;


  .dashboard__greetings {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

    p {
      text-align: center;
      font-size: 1.4em;
      color: $color-3;
    }
  }

  .dashboard__content-1 {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 4em;
    //background-color: salmon;
  }

  .dashboard__content-2 {
    padding: 4em 0 0 0;
    width: 40%;
    height: 50%;
    //background: lightgreen;
  }

}
