<div class="list">
  <label class="list__label">Exibindo Lista Completa</label>

  <ng-container *ngIf="!(loading$ | async)">
    <div class="card" *ngFor="let item of (list$ | async)" (click)="markAsDone(item.id)">
      <label class="card__label">{{ item.createdAt | date:'dd/MM/yyyy HH:mm' }}</label>
      <h3 class="card__title">{{ item.title }}</h3>

      <div class="card__checkbox">
        <input type="checkbox" class="card__checkbox__input" [checked]="item.done">
        <label for="checkbox" class="card__label">
          <span>Feito!</span>
        </label>
      </div>

      <button class="card__button buttons" (click)="onDelete(item.id)">Deletar</button>
    </div>
  </ng-container>

  <button
    class="list__button buttons"
    (click)="loadMore()"
    *ngIf="!(shouldShowLoadingIndicator$ | async)"
  >
    Carregar Mais
  </button>

  <span *ngIf="shouldShowLoadingIndicator$ | async" class="list__span">Carregando...</span>
</div>
