.main {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: #93ff93;

    .main__paragraph {
        height: auto;
        width: auto;
        margin: 0 auto;
        color: #091f09;
        font-size: 2.1em;
        font-weight: bold;
        text-align: center;
    }
}